form {
    width: 240px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

fieldset {
    position: relative;
}

fieldset input {
    width: 200px;
    box-sizing: border-box;
}